@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;700;900&display=swap");

:root {
  --lemon: #d4a418;
  --navy: #485987;
  --bronze: #a77464;
}

body {
  background-color: #fffefe;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  color: #2c2d48;
}

body,
html {
  position: relative;
  overflow-x: hidden;
}

body.hide {
  overflow: hidden;
}

.outer-container {
  max-width: 90em;
  padding: 2rem 2rem;
  margin-left: auto;
  margin-right: auto;
}

.inner-container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--navy);
  font-weight: 700;
  font-size: 1.618rem;
  line-height: 1.3;
}

h3 {
  font-weight: 900;
  font-size: 2.618rem;
  line-height: 1.3;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #2c2d48;
}

.cta {
  color: var(--lemon);
}

.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.type-1 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  -webkit-grid-template-columns: 1fr 3fr;
  -webkit-grid-template-rows: auto auto;
  column-gap: 2rem;
  -webkit-column-gap: 2rem;
  row-gap: 2rem;
  -webkit-grid-row-gap: 2rem;
}

.col-3 {
  grid-column: 1 / span 2;
  -webkit-grid-column: 1 / span 2;
}

.twocol-text {
  column-count: 2;
  -webkit-column-count: 2;
  column-gap: 2rem;
  -webkit-column-gap: 2rem;
  grid-column-start: 2;
  -webkit-column-start: 2;
}

.type-2 {
  display: grid;
  grid-template-rows: auto auto auto;
  -webkit-grid-template-rows: auto auto auto;
  row-gap: 2rem;
  -webkit-grid-row-gap: 2rem;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  -webkit-grid-template-rows: 1fr 1fr;
  column-gap: 0.5rem;
  -webkit-column-gap: 0.5rem;
  row-gap: 0.5rem;
  -webkit-grid-row-gap: 0.5rem;
}

picture img {
  width: 100%;
  height: 100%;
}

/* header */
header,
header nav,
.contacts {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header nav {
  position: relative;
  transition: all 1s ease;
}

header nav a {
  font-size: 1.125rem;
  transition: border-bottom 0.1s ease, font-weight 0.1s ease;
}

header nav a:hover {
  border-bottom: solid 0.125rem #2c2d48;
  font-weight: 700;
}

header nav li {
  display: inline-block;
  padding: 0rem 2rem;
}

.logo img {
  max-width: 300px;
  height: 4rem;
}

.contact-cta {
  font-weight: 700;
  padding-bottom: 0.125rem;
  border-bottom: solid 3px var(--lemon);
  transition: border-bottom 0.1s ease, color 0.1s ease;
}

.contact-cta:hover {
  border-bottom: solid 3px #e6b320;
  color: #e6b320;
}

.toggle-menu-button {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  border: none;
  background: none;
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

header nav.scrolled {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

.toggle-menu-button.scrolled {
  opacity: 1;
  pointer-events: auto;
}

.toggle-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #485987;
  color: #fffefe;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5rem;
  clip-path: circle(1% at 100% -10%);
  -webkit-clip-path: circle(1% at 100% -10%);
}
.toggle-menu-button img {
  pointer-events: none;
}

.close-menu {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.close-menu img {
  pointer-events: none;
}

.toggle-menu nav a {
  color: #fffefe;
  font-size: 5vh;
  margin-bottom: 1rem;
}
.toggle-menu nav {
  text-align: right;
}
.toggle-menu .contact-cta {
  color: #d4a418;
}

/* Hero Section */

.section-0 {
  justify-content: center;
}

.next-button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  color: none;
  padding: 1rem;
}

.typer-text {
  color: #d4a418;
}

/* Project Section */

.project,
.team-member {
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(212, 219, 218, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(212, 219, 218, 1);
  box-shadow: 0px 0px 5px 1px rgba(212, 219, 218, 1);
  border-radius: 5px;
}

.project,
.team-member {
  overflow: hidden;
}

.project img,
.team-member img {
  transition: transform 0.75s ease;
}

.project:hover .overlay,
.team-member:hover .overlay {
  opacity: 1;
}

.project:hover img,
.team-member:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fffefe;
  opacity: 0;
  padding: 2rem;
  z-index: 1;
  transition: all 0.5s ease;
}

.overlay h4 {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.overlay p {
  opacity: 0.9;
}
.overlay a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #fffefe;
  z-index: 1;
}

.project-cust {
  font-family: "Playfair Display", serif;
}

.bronze {
  background-color: rgba(167, 116, 100, 0.9);
}
.lemon {
  background-color: rgba(212, 164, 24, 0.9);
}

.blue {
  background-color: rgba(72, 89, 135, 0.9);
}
.slider-container {
  overflow: hidden;
}
.logo-container {
  display: flex;
  align-items: center;
  width: 300%;
  overflow: hidden;
}

.partner-logo {
  width: 20%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-logo img {
  filter: grayscale(100%);
  opacity: 0.6;
  width: fit-content;
  transform: scale(0.8);
  transition: filter 0.1s ease;
  object-fit: cover;
}
.partner-logo img:hover {
  filter: grayscale(0%);
}

/* /* Service Section */

.service-line {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  -webkit-grid-template-rows: repeat(2, auto);
  column-gap: 1rem;
  -webkit-column-gap: 1rem;
  row-gap: 1rem;
  -webkit-row-gap: 1rem;
}

.service-item {
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(212, 219, 218, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(212, 219, 218, 1);
  box-shadow: 0px 0px 5px 1px rgba(212, 219, 218, 1);
  background-color: #fffefe;
}

.service-item h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 2rem 0rem 1rem 0rem;
}
.service-item p {
  opacity: 0.9;
}

/* Company Section */

.company-details {
  display: flex;
  flex-wrap: wrap;
}

.company-details div {
  padding: 2rem;
  width: 50%;
}

.company-details h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: var(--bronze);
}

/* contact section */

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.team-contact {
  display: flex;
  flex-direction: column;
}

.team-contact p,
.team-contact a {
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
}
.team-contact a {
  color: #fffefe;
  opacity: 0.9;
  width: fit-content;
}
.team-contact img {
  margin-right: 0.5rem;
  object-fit: cover;
}

/* Footer */

footer {
  background-color: #2c2d48;
  height: auto;
  padding: 2rem;
  color: #fffefe;
}

footer a {
  padding: 1rem 1rem 1rem 0rem;
  color: #fffefe;
}

footer img {
  max-width: 300px;
  height: 3rem;
}

footer h4 {
  font-size: 1.5rem;
  margin: 4rem 0rem 2rem 0rem;
}

.footer-detail,
.locations,
.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.locations {
  flex: 1;
}
.location {
  width: 33.33333%;
}

address {
  line-height: 1.5;
}

.some-channel {
  display: flex;
  align-items: center;
}
.some-channel a {
  color: var(--lemon);
  font-size: 1.125rem;
  font-weight: 700;
}

.some-channel img {
  max-height: 2rem;
  max-width: 2rem;
  margin-right: 1rem;
}

.footer-bottom {
  margin-top: 8rem;
  padding-top: 2rem;
  opacity: 0.8;
}

/* other pages */

.nothinghere {
  min-height: 100vh;
  min-width: 100vw;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nothinghere img {
  height: 40vh;
}

@media (pointer: coarse) {
  .overlay {
    opacity: 1;
  }
  .bronze {
    background-color: rgba(167, 116, 100, 0.6);
  }
  .lemon {
    background-color: rgba(212, 164, 24, 0.6);
  }

  .blue {
    background-color: rgba(72, 89, 135, 0.6);
  }
}

@media all and (max-width: 78rem) {
  .overlay {
    padding: 1.5rem;
  }
  .img-grid {
    grid-template-columns: repeat(3, 1fr);
    -webkit-grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    -webkit-grid-template-rows: 1fr 1fr 1fr;
  }
  .service-line {
    grid-template-columns: 1fr 1fr;
    -webkit-grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    -webkit-grid-template-rows: repeat(3, auto);
  }
}

@media all and (max-width: 64em) {
  .inner-container {
    max-width: 75%;
  }

  h2 {
    font-size: 1.333rem;
  }

  h3 {
    font-weight: 900;
    font-size: 1.777rem;
  }

  .overlay h4,
  .footer h4,
  .service-item h4 {
    font-size: 1rem;
  }

  p {
    line-height: 1.5;
  }

  .type-1 {
    column-gap: 1.333rem;
    -webkit-column-gap: 1.333rem;
    row-gap: 1.333rem;
    -webkit-row-gap: 1.333rem;
  }

  .twocol-text {
    column-count: 2;
    -webkit-column-count: 2;
    column-gap: 1.333rem;
    -webkit-column-gap: 1.333rem;
    grid-column-start: 2;
    -webkit-grid-column-start: 2;
  }
}

@media all and (max-width: 58em) {
  header {
    position: sticky;
  }

  .logo img {
    max-width: 300px;
    height: 3rem;
  }

  header nav a {
    font-size: 1rem;
  }

  .section-0 {
    min-height: 80vh;
  }

  .next-button {
    display: none;
    pointer-events: none;
  }

  .twocol-text {
    column-count: 1;
    -webkit-column-count: 1;
    column-gap: 0rem;
    -webkit-column-gap: 0rem;
  }
  .overlay {
    padding: 1.333rem;
  }
}

@media all and (max-width: 54em) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
    -webkit-grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    -webkit-grid-template-rows: repeat(4, 1fr);
  }

  .project-cust {
    font-size: 0.75rem;
  }

  .service-item {
    padding: 1.333rem;
  }

  .footer-detail {
    flex-direction: column;
  }
  .footer-bottom {
    flex-wrap: wrap;
  }

  .footer-bottom div {
    width: 50%;
  }
  .footer-bottom div:nth-child(even) {
    text-align: right;
  }
  footer img {
    max-width: 300px;
    height: 2.5rem;
  }
  footer a {
    padding: 0rem 1rem 1rem 0rem;
    color: #fffefe;
  }
}

@media all and (max-width: 48em) {
  header nav {
    display: none;
    pointer-events: none;
  }
  .toggle-menu-button {
    opacity: 1;
    pointer-events: auto;
  }
  .inner-container {
    max-width: 34rem;
  }

  .partner-logo {
    height: 20vh;
    padding: 0.5rem;
  }
  .partner-logo img {
    transform: scale(0.8);
  }
}

@media all and (max-width: 36.5em) {
  .service-line {
    grid-template-columns: 1fr;
    -webkit-grid-template-columns: 1fr;
    grid-template-rows: auto;
    -webkit-grid-template-rows: auto;
  }

  .company-details div {
    padding: 1rem;
    width: 100%;
  }

  .team-contact img {
    height: 1.333rem;
  }
  .team-contact p,
  .team-contact a {
    font-size: 0.8rem;
  }

  .locations {
    flex-wrap: wrap;
  }
  .location {
    width: 100%;
  }

  footer h4 {
    margin: 2rem 0 1rem 0;
  }
  .footer-bottom div {
    width: 100%;
    font-size: 0.75rem;
  }
  .footer-bottom div:nth-child(even) {
    text-align: left;
  }
  .footer-bottom {
    margin-top: 4rem;
    padding-top: 2rem;
  }
}

@media all and (max-width: 30em) {
  header {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .toggle-menu-button {
    right: 1rem;
  }
  .type-1 {
    grid-template-columns: 1fr;
    -webkit-grid-template-columns: 1fr;
    grid-template-rows: auto;
    -webkit-grid-template-rows: auto;
    column-gap: 0rem;
    -webkit-column-gap: 0rem;
    row-gap: 2rem;
    -webkit-row-gap: 2rem;
  }
  .twocol-text {
    grid-column-start: 1;
    -webkit-grid-column-start: 1;
  }
  .section-name {
    grid-row: 1;
    -webkit-grid-row: 1;
  }

  .img-grid {
    grid-template-columns: 1fr;
    -webkit-grid-template-columns: 1fr;
    grid-template-rows: auto;
    -webkit-grid-template-rows: auto;
  }

  .team-contact p,
  .team-contact a {
    font-size: 1rem;
  }

  .inner-container {
    padding: 1rem 1rem;
  }
  .outer-container {
    padding: 1rem 1rem;
  }
  .footer-detail,
  .locations,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  .locations,
  .social-media,
  .footer-bottom div:nth-child(n) {
    text-align: center;
  }
}
